body {
  background-color: yellowgreen;
  font-family: segoe, Verdana, sans-serif;
  width: 80%;
  margin: auto;
}

label {
  float: left;
  width: 5em;
  text-align: right;
}
input {
  margin-left: 1em;
  margin-bottom: .5em;
}

textarea {
  margin-left: 1em;
  margin-bottom: .5em;
}

#submit {
  margin-left: 7em;
}

header {
  background-color: goldenrod;
  font-family: "Playfair Display", serif;
  color: indigo;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 1em 0;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
nav ul li {
  display: inline;
  padding: 0.5em;
}
nav ul li a {
  font-weight: bold;
  color: indigo;
}
nav ul li a.current {
  text-decoration: none;
}

nav a:hover {
  color: purple;
}

main {
  width: 66%;
  /* border-right: 2px; */
  /* height: 350px; */
  float: left;
}

.background {
  /* width: 66%; */
  /* float: left; */
  /* margin: 0; */
  /* padding: 0; */
  background-image: url("wineday.jpg");
  background-size: cover;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}


.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

aside img {
	transition: transform 3s ease;
	transform-origin: 0 0;
}

aside img:hover {
	transform: rotate(720deg);
}

/* section { 
  background-color: cornsilk;
  width: 75%;
  font-size: 1.2em;
 }  */

footer {
  background-color: goldenrod;
  clear: both;
}
  
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
